
#img2{
	border:0px; 
	  
	margin:3px;   
	  padding-right:5px;
	  padding-left:15px;   
	  max-width:50px;   
	  width:expression(this.width>50?"  50px":this.width);   
	  max-height:50px;   
	  height:expression(this.height>50?"  50px":this.height);
	  
}

